# TODO : talk about each part and everyone must accept one part
*           @Mehrdad-Dadkhah

# User module is the user system and anything related to that
modules/misc/           @Mehrdad-Dadkhah  @slifer2015
modules/user/           @Mehrdad-Dadkhah  @slifer2015
modules/domain/         @Mehrdad-Dadkhah
modules/ad/             @Mehrdad-Dadkhah
modules/campaign/       @Mehrdad-Dadkhah  @slifer2015
modules/upload/         @Mehrdad-Dadkhah
modules/asset/          @Mehrdad-Dadkhah  @slifer2015
modules/time/           @Mehrdad-Dadkhah
modules/location/       @Mehrdad-Dadkhah
modules/asset/          @Mehrdad-Dadkhah  @slifer2015
modules/notifications/  @Mehrdad-Dadkhah


*.mk        @Mehrdad-Dadkhah
Makefile    @Mehrdad-Dadkhah
Jenkinsfile @Mehrdad-Dadkhah

*.sql       @Mehrdad-Dadkhah
scripts/    @Mehrdad-Dadkhah
bin/        @Mehrdad-Dadkhah

vendor/     @Mehrdad-Dadkhah  @slifer2015
CODEOWNERS  @Mehrdad-Dadkhah