# TODO : talk about each part and everyone must accept one part
*           @fzerorubigd

# User module is the user system and anything related to that
modules/misc/           @fzerorubigd  @slifer2015 @okian
modules/user/           @fzerorubigd  @Mehrdad-Dadkhah
modules/domain/         @fzerorubigd  @Mehrdad-Dadkhah
modules/ad/             @fzerorubigd  @okian
modules/campaign/       @fzerorubigd  @slifer2015
modules/upload/         @fzerorubigd  @okian @slifer2015
modules/asset/          @fzerorubigd  @ehsandevop
modules/time/           @fzerorubigd  @ehsandevop
modules/location/       @fzerorubigd  @ehsandevop @Mehrdad-Dadkhah
modules/asset/          @fzerorubigd  @ehsandevop @Mehrdad-Dadkhah
modules/notifications/  @fzerorubigd  @okian


*.mk        @fzerorubigd
Makefile    @fzerorubigd
Jenkinsfile @fzerorubigd

*.sql       @fzerorubigd
scripts/    @fzerorubigd
bin/        @fzerorubigd

vendor/     @fzerorubigd @okian @slifer2015
CODEOWNERS  @fzerorubigd